.termsfeed-com---nb-simple {
	max-width: 100% !important;
	width: 100%;
}
.termsfeed-com---nb .cc-nb-text {
	font-size: 14px!important;
}
.termsfeed-com---palette-light .cc-nb-reject {
	background-color: #c5281c!important;
}
#open_preferences_center {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37.468' height='36.012' viewBox='0 0 37.468 36.012'%3E%3Cpath d='M16.1-.848A18.012,18.012,0,0,1,.12-20.667,18.017,18.017,0,0,1,19.944-36.653a19.126,19.126,0,0,1,2.508.449l1.192.3-.012,1.228A14.025,14.025,0,0,0,34.775-20.861l1.2.249.043,1.224a18.594,18.594,0,0,1-.092,2.555A18.015,18.015,0,0,1,16.1-.848ZM32.826-17.159l.034-.975-.186-.047a17.155,17.155,0,0,1-12.1-15.01l-.007-.191-.956-.172A14.9,14.9,0,0,0,3.219-20.334,14.9,14.9,0,0,0,16.435-3.947,14.9,14.9,0,0,0,32.826-17.159ZM20.014-8.1a1.445,1.445,0,0,1-1.281-1.587,1.445,1.445,0,0,1,1.587-1.281A1.446,1.446,0,0,1,21.6-9.385,1.444,1.444,0,0,1,20.014-8.1Zm-8.3-2.884a1.208,1.208,0,0,1-1.07-1.326,1.209,1.209,0,0,1,1.327-1.07,1.209,1.209,0,0,1,1.07,1.327A1.208,1.208,0,0,1,11.71-10.989Zm15.548-1.866a1.945,1.945,0,0,1-1.724-2.136,1.945,1.945,0,0,1,2.138-1.724A1.945,1.945,0,0,1,29.4-14.577,1.945,1.945,0,0,1,27.258-12.855ZM19.209-18.6a1.291,1.291,0,0,1-1.144-1.418,1.29,1.29,0,0,1,1.418-1.145,1.292,1.292,0,0,1,1.145,1.419A1.293,1.293,0,0,1,19.209-18.6Zm-9.97,0a1.944,1.944,0,0,1-1.724-2.137,1.945,1.945,0,0,1,2.138-1.723,1.943,1.943,0,0,1,1.722,2.137A1.944,1.944,0,0,1,9.239-18.609Zm6.736-8.065a1.791,1.791,0,0,1-1.587-1.968,1.791,1.791,0,0,1,1.968-1.587,1.793,1.793,0,0,1,1.588,1.968A1.792,1.792,0,0,1,15.975-26.674Zm20.1-1.088a.709.709,0,0,1,.778-.627.709.709,0,0,1,.628.778.709.709,0,0,1-.778.627A.709.709,0,0,1,36.074-27.762Zm-4.311.771a1.79,1.79,0,0,1-1.587-1.967,1.789,1.789,0,0,1,1.968-1.587,1.789,1.789,0,0,1,1.586,1.968A1.788,1.788,0,0,1,31.763-26.991Zm-1.858-7.984a1.29,1.29,0,0,1,1.418-1.145A1.293,1.293,0,0,1,32.468-34.7a1.292,1.292,0,0,1-1.42,1.144A1.291,1.291,0,0,1,29.905-34.975Z' transform='translate(-0.016 36.756)' fill='%231d1d1b' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	padding: 30px;
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 1;
	background-color: white;
	border-radius: 50%;
	background-position: center center;
	cursor: pointer;
	box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.18);
}
